* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: .85em;
    transition: all .2s ease;
}

ul li a:hover {
    color: black;
}

.icons {
    width: 1.5rem;
}

.first-sub-menu {
    display: none;
    left: 0;
    right: 0;
}

.main-ul>li:hover .first-sub-menu {
    display: block;
}

.second-sub-menu {
    display: none;
}

.first-sub-menu>li:hover .second-sub-menu {
    display: block;
    top: 0;
    left: 0;
    right: 250px;
    z-index: 1;
}

.third-sub-menu {
    display: none;
}

.second-sub-menu>li:hover .third-sub-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 200px;
    z-index: 2;
}

.menu-gray {
    opacity: .6;
}

.city {
    color: black;
    text-decoration: none;
}